@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin line-clamp($lines: 1) {
  @if $lines <=1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }
}

@mixin burger($burgerWidth, $burgerHeight, $burgerLineHeight, $burgerColor) {
  width: $burgerWidth;
  height: $burgerHeight;
  color: $burgerColor;
  position: relative;

  &__line {
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: $burgerLineHeight;
    background-color: currentColor;
    transition: transform 0.3s ease-in-out;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 7px;
    width: 30px;
    height: $burgerLineHeight;
    background-color: currentColor;
    // transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  &::before {
    top: 10px;
  }

  &::after {
    bottom: 10px;
  }
}

@mixin mq($width) {
  @media (max-width: #{$width}) {
    @content;
  }
}
