$primary: #31352b;
$secondaty: #363853;
$accent: #ff6838;
$silver-200: #ececec;
$silver-100: #f9faff;
$gray: #c2c2c2;
$white: #fff;
$pink: #fff2ed;
$shadow: rgba($accent, 0.7);
$orange: #ff7a50;
$orange-01: rgba($orange, 0.1);
$orange-07: rgba($orange, 0.7);
$accent-02: rgba($accent, 0.2);
$accent-05: rgba($accent, 0.5);
$accent-07: rgba($accent, 0.7);
$primary-05: rgba($primary, 0.5);

%rubik-300 {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

%rubik-400 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

%rubik-italic {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: italic;
}

%bc-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

%link-underline {
  color: $secondaty;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: $secondaty;
  text-underline-offset: 2px;
}

%flex-col-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
