$primary: #31352b;
$secondary: #363853;
$accent: #ff6838;
$silver-200: #ececec;
$silver-100: #f9faff;
$gray: #c2c2c2;
$white: #fff;
$pink: #fff2ed;
$shadow: rgba($accent, 0.7);
$orange: #ff7a50;
$orange-01: rgba($orange, 0.1);
$orange-07: rgba($orange, 0.7);
$accent-02: rgba($accent, 0.2);
$accent-05: rgba($accent, 0.5);
$accent-07: rgba(255, 104, 56, 0.7);
$primary-05: rgba($primary, 0.5);

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

%rubik-300 {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

%rubik-400 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

%rubik-italic {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: italic;
}

%bc-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

%link-underline {
  color: $secondary;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: rgba(54, 56, 83, 1);
  text-underline-offset: 2px;
  transition: text-decoration-color 1s;
}
